---
layout: default
---

    <!-- Main Content -->
    <main class="main-content">

      <section class="section">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-6 text-center text-md-left order-md-2">
              <p class="small-2 text-uppercase text-lightest fw-500 ls-1 lato">Hicks, Stories, Gastronomy</p>
              <h3 class="fw-500 lato">Full-Stack Development</h3>
              <p>Instrument cultivated alteration any favourable expression law far nor. Both new like tore but year. An from mean on with when sing pain. Oh to as principles devonshire companions unsatiable an delightful. The ourselves suffering the sincerity. Inhabit her manners adapted age certain. Debating offended at branched striking be subjects.</p>
            </div>

            <div class="col-md-5 mx-auto">
              <img class="rounded-md" src="assets/img/thumb/pexels-photo-372098.jpeg" alt="...">
            </div>

          </div>
        </div>
      </section>


      <section class="section">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-6 text-md-right">
              <p class="small-2 text-uppercase text-lightest fw-500 ls-1 lato">Phone</p>
              <h3 class="fw-500 lato">Mobile App</h3>
              <p>Instrument cultivated alteration any favourable expression law far nor. Both new like tore but year. An from mean on with when sing pain. Oh to as principles devonshire companions unsatiable an delightful. The ourselves suffering the sincerity. Inhabit her manners adapted age certain. Debating offended at branched striking be subjects.</p>
            </div>

            <div class="col-md-5 mx-auto">
              <img class="rounded-md" src="assets/img/thumb/hiking-467876_960_720.jpg" alt="...">
            </div>

          </div>
        </div>
      </section>








      <section class="section bg-gray">
        <div class="container text-center">
          <header class="section-header">
            <h2>Recent Video Tutorials</h2>
            <hr>
            <p class="lead">We are so excited and proud of our product. It's really easy to create a landing page for your awesome product.</p>
          </header>


          <div class="row gap-y">

            <div class="col-lg-4">
              <div class="video-btn-wrapper">
                <img class="shadow-2 rounded" src="assets/img/thumb/1.jpg" alt="...">
                <a class="btn btn-glass btn-circle btn-light" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
              </div>
              <br>
              <h6><a href="#">We relocated our office to a new designed garage</a></h6>
              <p class="small text-lighter">News</p>
            </div>


            <div class="col-lg-4">
              <div class="video-btn-wrapper">
                <img class="shadow-2 rounded" src="assets/img/thumb/2.jpg" alt="...">
                <a class="btn btn-glass btn-circle btn-light" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
              </div>
              <br>
              <h6><a href="#">Top 5 brilliant content marketing strategies</a></h6>
              <p class="small text-lighter">Marketing</p>
            </div>


            <div class="col-lg-4">
              <div class="video-btn-wrapper">
                <img class="shadow-2 rounded" src="assets/img/thumb/3.jpg" alt="...">
                <a class="btn btn-glass btn-circle btn-light" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
              </div>
              <br>
              <h6><a href="#">Best practices for minimalist design</a></h6>
              <p class="small text-lighter">Design</p>
            </div>

          </div>

          <div class="text-center mt-7">
            <a class="btn btn-outline-primary px-7" href="#">View all</a>
          </div>

        </div>
      </section>


      <section class="section">
        <div data-provide="slider" data-autoplay="true" data-slides-to-show="2" data-css-ease="linear" data-speed="12000" data-autoplay-speed="0" data-pause-on-hover="false">
          <div class="p-2">
            <div class="rounded bg-img h-400" style="background-image: url(assets/img/thumb/14.jpg)"></div>
          </div>

          <div class="p-2">
            <div class="rounded bg-img h-400" style="background-image: url(assets/img/thumb/15.jpg)"></div>
          </div>

          <div class="p-2">
            <div class="rounded bg-img h-400" style="background-image: url(assets/img/thumb/12.jpg)"></div>
          </div>

          <div class="p-2">
            <div class="rounded bg-img h-400" style="background-image: url(assets/img/thumb/13.jpg)"></div>
          </div>
        </div>
      </section>

    </main>
    <!-- /.main-content -->


<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

hiking Bellow v2<br>
<div class="hiking">

{% for hiking in site.hiking %}
  <h2>
    <a href="{{ hiking.url }}">
      {{ hiking.siteName }} - {{ hiking.siteCity }}
    </a>
  </h2>
  <p>{{ hiking.content | markdownify }}</p>
{% endfor %}

</div>
