---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

hiking Bellow v2<br>
<div class="hiking">

{% for hiking in site.hiking %}
  <h2>
    <a href="{{ hiking.url }}">
      {{ hiking.siteName }} - {{ hiking.siteCity }}
    </a>
  </h2>
  <p>{{ hiking.content | markdownify }}</p>
{% endfor %}

</div>
