---
layout: default
credits: ""
---

<!-- Hero section -->
<div class="section-lg bg-dark">
	<div class="container margin-top-50">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 margin-top-10">
				<h1 class="display-6 font-weight-semi-bold">Biodiversity Data Science<span style="color: #A22A2A">.</span></h1>
				<p class="font-family-secondary font-small" style="color: white">A team of researchers committed to provide knowledge to well-informed
					biodiversity conservation and management, in line with the UN 2030 Agenda for Sustainable Development.</p>

					<div class="margin-top-20">
						<ul class="list-inline-sm">
							<li><a class="button-circle button-circle-sm button-circle-outline-white" target="_blank" href="https://twitter.com/jorgemfassis"><i class="fab fa-twitter"></i></a></li>
							<li><a class="button-circle button-circle-sm button-circle-outline-white" target="_blank" href="https://jorgemfa.medium.com"><i class="fab fa-medium-m"></i></a></li>
							<li><a class="button-circle button-circle-sm button-circle-outline-white" target="_blank" href="https://github.com/jorgeassis/"><i class="fab fa-github"></i></a></li>
							<li><a class="button-circle button-circle-sm button-circle-outline-white" href="mailto: jorgemfa [at] gmail.com"><i class="fab fas fa-at"></i></a></li>
						</ul>
					</div>

			</div>
		</div>
	</div>
</div>

<!-- Featured publications -->

<div class="section" style="margin-top: -10px">
	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

				<div>

					<div class="margin-bottom-20 margin-left-30 margin-right-30" style=" display: flex;">
						<div>
							<ul class="list-inline-dash font-family-secondary">
								<i class="fas fa-angle-double-right"></i> <li>Featured publications</li>
							</ul>
						</div>
						<div class="text-right" style="flex-grow: 1">
							<ul class="list-inline-dash font-family-secondary font-small">
								<i class="fas fa-angle-right"></i> <a class="text-link-3" href="{{ site.baseurl }}/publications/"><li> list all publications</li></a>
							</ul>
						</div>
					</div>

        </div>

        {% assign postsMain = site.posts | where: "type", "journal" %}
        {% assign posts = postsMain | where: "featured", "true" %}
        {% for post in posts limit: 3 %}

        <div class="margin-bottom-40">

					<a href="{{site.baseurl}}{{ post.url }}">
					<div class="bg-image box-shadow border-radius-05" data-bg-src="{{ site.baseurl }}/assets/images/posts/{{ post.mainImage }}" style="height: 300px; background-position: center">
					</div>
					</a>

					<div class="content padding-30">
						<a href="{{site.baseurl}}{{ post.url }}"><h4 class="font-weight-normal">{{ post.title }}</h4></a>
            <p class="font-family-secondary">{{ post.description }}</p>
					</div>

				</div>

        {% endfor %}

			</div>
		</div>


		<!-- Latest tweet -->

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">
				<div style="margin-top: 60px" >
						<div class="margin-bottom-20 margin-left-30 margin-right-30" style=" display: flex;">
							<div>
								<ul class="list-inline-dash font-family-secondary">
									<i class="fas fa-angle-double-right"></i> <li>Latest tweets</li>
								</ul>
							</div>
							<div class="text-right" style="flex-grow: 1">
								<ul class="list-inline-dash font-family-secondary font-small">
									<i class="fas fa-angle-right"></i> <a class="text-link-3" target="_blank" href="https://twitter.com/jorgemfassis"><li> open account</li></a>
								</ul>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

				<div class="owl-carousel" data-owl-autoplay="true" data-owl-nav="false" data-owl-dots="false" data-owl-items="1">

          {% assign posts = site.posts | where: "type", "tweet" %}
          {% for post in posts limit: 2 %}

						<div class="testimonial-box">
						<div class="quote">
							<a href="{{ post.link }}" target="_blank"><p class="font-family-secondary text-dark">{{ post.title }}</p></a>
						</div>
						<div class="avatar">
							<img src="{{ site.baseurl }}/assets/images/{{ post.authorImage }}" alt="">
							<div>
								<h6 class="font-family-secondary font-small text-dark">{{ post.author }}</h6>
								<span class="font-family-secondary font-extra-small text-dark">{{ post.authorType }}</span>
							</div>
						</div>
					</div>

          {% endfor %}

			</div>

</div>
</div>


<!-- Featured code -->

<div class="row">
	<div class="col-12 col-lg-10 offset-lg-1">

		<div style="margin-top: 100px" >
				<div class="margin-bottom-20 margin-left-30 margin-right-30" style=" display: flex;">
					<div>
						<ul class="list-inline-dash font-family-secondary">
							<i class="fas fa-angle-double-right"></i> <li>Featured code</li>
						</ul>
					</div>
					<div class="text-right" style="flex-grow: 1">
						<ul class="list-inline-dash font-family-secondary font-small">
							<i class="fas fa-angle-right"></i> <a class="text-link-3" href="{{ site.baseurl }}/code/"><li> list all code</li></a>
						</ul>
					</div>
				</div>
		</div>

	</div>
</div>

<div class="row col-lg-10 border-radius-05 bg-gray offset-lg-1 margin-bottom-30" style="padding-top: 15px">

  {% assign postsMain = site.posts | where: "type", "code" %}
  {% assign posts = postsMain | where: "featured", "true" %}
  {% for post in posts limit: 4 %}

	<div class="bg-image col-lg-3 border-radius-05 margin-top-10 margin-left-10 margin-right-10" data-bg-src="{{ site.baseurl }}/assets/images/posts/{{ post.mainImage }}" style="height: 164px; background-position: center"></div>

  <div class="col-lg-8 padding-15 margin-top-5">
		<a href="{{site.baseurl}}{{ post.url }}"><h5>{{ post.title }}</h5></a>
		<p class="font-family-secondary text-dark" style="font-size: 15px;">{{ post.description }}</p>
		<div class="margin-top-10">
			<p class="font-family-secondary font-small text-dark">Programming language: {% if post.language == "python" %}<i class="fab fa-python"></i>{% endif %}{% if post.language == "r" %}<i class="fab fa-r-project"></i>{% endif %}</p>
		</div>
  </div>

  {% endfor %}

</div>

</div>
</div>
