---
layout: default
title: "Hiks"
permalink: /hiking/
---

<header class="header p-0">
  <div class="h-600" id="map" style="background: #fff"></div>
</header>

<script>

  var map = L.map('map').setView([{{page.coordinateLat}}, {{page.coordinateLon}}], 3);

  L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: '',
    }).addTo(map);

    var myIcon = L.icon({
          iconUrl: '{{ site.baseurl }}/assets/img/ico.svg',
          iconSize: [10, 10], // size of the icon
          });

    var points = [
              ["P1", 43.059908, -89.442229, "http://www.url_address_01.com/"],
              ["P2", 43.058618, -89.442032, "http://www.url_address_02.com/"],
              ["P3", 43.058618, -86.441726, "http://www.url_address_03.com/"]
          ];
          var marker = [];
          var i;
          for (i = 0; i < points.length; i++) {
              marker[i] = new L.Marker([points[i][1], points[i][2]], {
                  win_url: points[i][3],
                  icon: myIcon
              });
              marker[i].addTo(map);
              marker[i].on('click', onClick);
          };

    var defaultLayer = L.tileLayer.provider('OpenStreetMap.BlackAndWhite').addTo(map);

    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.zoomControl.setPosition('bottomright');
    map.getPane('tilePane').style.opacity = 0.4;

    function onClick(e) {
           //console.log(this.options.win_url);
           window.open(this.options.win_url);
       }

  </script>

    <!-- Main Content -->
    <main class="main-content">

      <div class="section">
        <div class="container">

          <div class="text-center mt-6">
            <h2>{{ page.title }}<h2>
          </div>

          {% if page.mainImage %}

          <div class="row">
            <div class="col-lg-8 mx-auto my-1">

              <hr class="w-100px">
              <img class="rounded-md" src="{{ site.baseurl }}/assets/img/{{ page.mainImage }}" alt="{{ page.title }}">

            </div>
          </div>

          {% endif %}

          <div class="row">
            <div class="col-lg-8 mx-auto">

              <p class="lead">{{ content }}</p>

              <hr class="w-100px">
  {{ file.modified_time }}
            </div>
          </div>



        </div>
      </div>

</main>





<main class="main-content">

  <section class="section bg-gray" style="background: #F3F3F3">
    <div class="container text-center">
      <header class="my-5 section-header">
        <h2>Hiks around {{page.siteDistrict}}</h2>

        <p class="lead">We are so excited and proud of our product. It's really easy to hick.</p>
      </header>

      <div class="row gap-y my-4">

        {% assign posts = site.posts | where: "siteDistrict", page.siteDistrict %}
        {% for post in posts limit: 3 %}
        {% unless post.title contains page.title %}


        <div class="col-lg-4">
          <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="shadow-2 rounded" style="width: 100%; height: 210px; background: url('{{ site.baseurl }}/assets/img/{{ post.mainImage }}'); background-size: cover; ">

          </div>
        </a>
          <br>
          <h6><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h6>
          <p class="small text-lighter text-uppercase">{{ post.siteCity }}</p>
        </div>

        {% endunless %}
        {% endfor %}

      </div>

      <div class="text-center mt-5">
        <a class="btn btn-primary btn-round" href="post-2.html">View all hiks</a>
      </div>

    </div>
  </section>


</main>
