---
layout: default
title: "Hiks"
permalink: /hiking/
---

<header class="header p-0">
  <div class="h-400" id="map" style="background: #fff"></div>
</header>

<script>

  var map = L.map('map').setView([20, -20], 3);

  L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: '',
    }).addTo(map);

    var myIcon = L.icon({
          iconUrl: '{{ site.baseurl }}/assets/img/ico.svg',
          iconSize: [10, 10], // size of the icon
          });

          var points = [

          {% assign posts = site.posts | where: "tags", "hiking" %}
          {% for post in posts %}
            {% if post.coordinateLon %}

              ["{{ post.title }}", {{ post.coordinateLat }}, {{ post.coordinateLon }}, "{{ site.baseurl }}{{ post.url }}"]

              {% if forloop.last == false %}
              ,
              {% endif %}
            {% endif %}
          {% endfor %}

          ];

          var marker = [];
          var i;
          for (i = 0; i < points.length; i++) {
              marker[i] = new L.Marker([points[i][1], points[i][2]], {
                  win_url: points[i][3],
                  icon: myIcon
              });
              marker[i].addTo(map);
              marker[i].on('click', onClick);
          };

    var defaultLayer = L.tileLayer.provider('OpenStreetMap.BlackAndWhite').addTo(map);
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.zoomControl.setPosition('bottomright');
    map.getPane('tilePane').style.opacity = 0.4;

    function onClick(e) { window.open(this.options.win_url,"_self"); }

  </script>

  <main>

  <section class="section">
      <div class="container text-center">

          <div class="row">
            <div class="col-md-10 col-xl-8 mx-auto mt-7">

                <span class="h4 lato mt-8 ">{{ page.title }}</span>
                <hr class="shortdivider mt-4">

            </div>
          </div>

          <div class="row gap-y my-4">

            {% assign posts = site.posts | where: "tags", "hiking" %}
            {% for post in posts %}

            <div class="col-12 col-lg-4">
              <a href="/tags/sagres-portugal">
              <div class="card text-white bg-img justify-content-center" style="background-image: url('{{ site.baseurl }}/assets/img/{{ page.mainImage }}'); min-height: 200px" data-overlay="5">
                <div class="card-body text-center flex-grow-0">
                  <br><br>
                  <span class="card-title mb-0 h5 lato">{{ post.title }}</span>
                  <br>
                  <small>5 items</small>
                </div>
              </div>
              </a>
            </div>

            {% endfor %}

          </div>

        </div>
  </section>



</main>





<main class="main-content">

  <section class="section bg-gray" style="background: #F3F3F3">
    <div class="container text-center">
      <header class="my-5 section-header">
        <h2>Hiks around {{page.siteDistrict}}</h2>

        <p class="lead">We are so excited and proud of our product. It's really easy to hick.</p>
      </header>

      <div class="row gap-y my-4">

        {% assign posts = site.posts | where: "siteDistrict", page.siteDistrict %}
        {% for post in posts limit: 3 %}
        {% unless post.title contains page.title %}


        <div class="col-lg-4">
          <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="shadow-2 rounded" style="width: 100%; height: 210px; background: url('{{ site.baseurl }}/assets/img/{{ post.mainImage }}'); background-size: cover; ">

          </div>
        </a>
          <br>
          <h6><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h6>
          <p class="small text-lighter text-uppercase">{{ post.siteCity }}</p>
        </div>

        {% endunless %}
        {% endfor %}

      </div>

      <div class="text-center mt-5">
        <a class="btn btn-primary btn-round" href="post-2.html">View all hiks</a>
      </div>

    </div>
  </section>


</main>
