
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Bottom message -->

<section class="feature-large switchable bg--secondary-2">

        <div class="container">

          <div class="row justify-content-around top-spacer-20">
              <div class="col-lg-6 col-md-6">
                  <img alt="Image" class="border--round box-shadow-wide" src="https://www.marineforests.com/assets/img/main_header.jpg" style="margin-bottom: 30px" />
              </div>
              <div class="col-lg-5 col-md-6">
                  <div class="top-spacer-10">
                      <h2>Scientific team</h2>
                  </div>
                  <div class="text-block" style="font-size: 15px">

                    The team of the project is composed by scientists and volunteer citizens from all around the world, which are contributing to expand knowlege about the diversity and distribution of Marine Forests.

                  </div>

                  <div>
                      <h4>Adopt a Marine Forests!</h4>
                  </div>

                  <div class="text-block" style="font-size: 15px">

                  Encourage conservation, understanding and appreciation of local marine environments by adopting a marine forest.

                  <div class="text-block top-spacer-20">

                      <div style="float: left">
                        <a class="btn btn--sm btn--primary type--uppercase" style="margin-top: 10px" href="https://www.marineforests.com/adopt-marine-forest"><span class="btn__text">Adopt a forest</span></a>
                      </div>

                 </div>

               </div>

              </div>
          </div>

        </div>

</section>
