
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Bottom message -->

<section class="feature-large switchable bg--secondary-2">

        <div class="container">

            <div class="row justify-content-around">

              <div class="col-lg-6 col-md-6">
                <div class="top-spacer-10">
                      <h2>Project Marine Forests</h2>
                  </div>

                  <div class="text-block" style="font-size: 15px">


                          Project 'Marine Forests' aims to build and maintain a database of distribution records of structural benthic species of seaweeds, seagrasses and animal forests, at global scales, and to make this information freely available worldwide  (&copy; Scottish Natural Heritage).

                                <br><br>

                                It also promotes education, marine literacy and the FAIR principle (to make data Findable, Accessible, Interoperable and Reusable).

                  </div>


                  <div>
                      <h4>Why Marine Forests?</h4>
                  </div>

                  <div class="text-block" style="font-size: 15px">

                Many animals live in marine forests and use them to hunt or mate.
                <br>
                Young animals also use marine forests as nursery grounds.

                </div>

              </div>

                <div class="col-lg-5 col-md-6">
                  <div class="border--round box-shadow-wide"  style="height: 405px; overflow: hidden;">
                    <img alt="Image" src="https://www.marineforests.com/assets/img/feed_15.jpg" style="margin-bottom: 30px" />
                  </div>
                </div>


            </div>


            <div class="row justify-content-around top-spacer-140">
                <div class="col-lg-6 col-md-6">
                    <img alt="Image" class="border--round box-shadow-wide" src="https://www.marineforests.com/assets/img/main_header.jpg" style="margin-bottom: 30px" />
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="top-spacer-10">
                        <h2>Scientific team</h2>
                    </div>
                    <div class="text-block" style="font-size: 15px">

                      The team of the project is composed by scientists and volunteer citizens from all around the world, which are contributing to expand knowlege about the diversity and distribution of Marine Forests.

                    </div>

                    <div>
                        <h4>Adopt a Marine Forests!</h4>
                    </div>

                    <div class="text-block" style="font-size: 15px">

                    Encourage conservation, understanding and appreciation of local marine environments by adopting a marine forest.

                    <div class="text-block top-spacer-20">

                        <div style="float: left">
                          <a class="btn btn--sm btn--primary type--uppercase" style="margin-top: 10px" href="https://www.marineforests.com/adopt-marine-forest"><span class="btn__text">Adopt a forest</span></a>
                        </div>

                   </div>

                 </div>

                </div>
            </div>

        </div>

</section>
