<!-- Footer -->
  <footer class="footer topSpacer100 py-2" style="background: #F3F3F3">

  <div class="container">

    <div class="row">
      <div class="col-md-8 col-lg-6 mx-auto m810">

    <div class="social social-lg text-center">
      <a class="social-twitter" href="#"><i class="fa fa-twitter gray"></i></a>
      <a class="social-instagram" href="#"><i class="fa fa-instagram gray"></i></a>
      <a class="social-git" href="#"><i class="fa fa-git gray"></i></a>
      <a class="social-at" href="#"><i class="fa fa-at gray"></i></a>
    </div>

        <hr>

        <div class="nav nav-bold nav-uppercase nav-center">
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Policy</a>
          <a class="nav-link" href="#">Contact</a>
          <a class="nav-link" href="#">Credits</a>
        </div>

        <!-- {% if page.credits %}
        <hr>
        <p class="text-center">{{page.credits}}</p>
        {% endif %} -->

      </div>
    </div>
  </div>
</footer>
<!-- /.footer -->
