<!-- Footer -->
  <footer class="footer topSpacer100 text-white bg-dark py-2">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6 mx-auto">

        <div class="nav nav-bold nav-uppercase nav-center">
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Policy</a>
          <a class="nav-link" href="#">Contact</a>
        </div>

        <hr>

        <p class="text-center">We’re a team of experienced designers and developers. We can combine beautiful, modern designs with clean, functional and high-performance code to produce stunning websites.</p>

      </div>
    </div>
  </div>
</footer>
<!-- /.footer -->
