
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Footer -->

<footer class="space--sm footer-2 bg--dark top-spacer-100">
                  <div class="container">
                      <div class="row">
                        <div class="col-12 text-left">
                          <span class="type--fine-print">

                              &copy;
                                <span class="update-year"></span> Centre of Marine Sciences \\ <a href="https://www.biodiversitydatascience.com" target="_blank" style="text-decoration: none;">biodiversityDataScience</a>
                             <!--  <a class="type--fine-print" href="#">Privacy Policy</a> -->
                            <!--     <a class="type--fine-print" href="#">Legal</a> -->

                            <br>
                            Funding from the Pew Charitable Trusts (USA), Biodiversa (EU), Euromarine and the Foundation for Science and Technology (FCT) through project PTDC/BIA-CBI/6515/2020.
                          </div>



                      </div>
                  </div>
              </footer>

        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!-- Scripts -->

        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/flickity.min.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/easypiechart.min.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/datepicker.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/lightbox.min.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/jquery.steps.min.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/smooth-scroll.min.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/scripts.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/read-more.min.js"></script>
        <script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/pack-of-scripts.js"></script>

    </body>
</html>
