<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Marine Forests</title>
<meta name="description" content="Scientists, coastal managers and the general public helping sunderstanding the global distribution of Marine Forests">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />

<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/leaflet.css" rel="stylesheet" />
<link href="https://www.biodiversitydatascience.com/marineForestsWeb/assets/css/leaflet.fullscreen.css" rel="stylesheet" />

<script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/leaflet.js"></script>
<script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/jquery-3.1.1.min.js"></script>
<script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/Leaflet.fullscreen.min.js"></script>
<script src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/js/leaflet-providers.js"></script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>

const fetchData = async url => {
  try {
    const jsonData = await fetch(url)
    const data = await jsonData.json()
    return data
  } catch (err) {
    alert('Could not load data:')
    return null
  }
};

</script>

</head>

<body class=" ">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Header and Navigation -->

<div id="loading"></div>

<style>

#loading{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:9999;
    background-color: white;
    background:url("https://www.biodiversitydatascience.com/marineForestsWeb/assets/img/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}
</style>

<script>
document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('loading').style.visibility="hidden";
      },1000);
  }
}
</script>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<a id="start"></a>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div class="nav-container ">

    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-2">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="logo" src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/img/mf_logo.png" />
                        <img class="logo logo-light" alt="logo" src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/img/mf_logo.png" />
                    </a>
                </div>
                <div class="col-9 col-md-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <nav id="menu2" class="bar bar-2 hidden-xs ">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-left-sm hidden-xs order-lg-2">
                    <div class="bar__module">
                        <a href="https://www.biodiversitydatascience.com/marineForestsWeb/">
                            <img class="logo logo-dark" alt="logo" src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/img/mf_logo.png" />
                            <img class="logo logo-light" alt="logo" src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/img/mf_logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-1">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">

                            <li>
                              <a style="color: #000000" href="https://www.biodiversitydatascience.com/marineForestsWeb/">Home</a>
                            </li>

                            <li>
                                <a href="https://www.biodiversitydatascience.com/marineForestsWeb/distribution">Distribution</a>
                            </li>

                            <li class="dropdown">
                                <span class="dropdown__trigger color--black" style="color: #000;">Diversity</span> <!-- type--uppercase -->
                                <div class="dropdown__container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="dropdown__content col-lg-2 col-md-4">
                                                <ul class="menu-vertical">
                                                    <!-- <li class="dropdown">
                                                      <span class="dropdown__trigger color--black" >Species richness</span>
                                                        <div class="dropdown__container">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="dropdown__content col-lg-2">
                                                                        <ul class="menu-vertical">
                                                                          <li>
                                                                                <a href="species.html">
                                                                                    Distribution records
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="species.html">
                                                                                    Physiology
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="species.html">
                                                                                    Populations
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    </li>

                                                    <li>
                                                    <a href="https://www.biodiversitydatascience.com/marineForestsWeb/species-richness-marine-forests">Species richness</a>
                                                  </li>

                                                    <li>
                                                      <a href="https://www.biodiversitydatascience.com/marineForestsWeb/genetic-diversity-marine-forests">Genetic diversity</a>
                                                    </li>

                                                    <li class="separate">
                                                      <a href="https://www.biodiversitydatascience.com/marineForestsWeb/future-climate-imapcts-on-marine-forests">
                                                        <span class="dropdown__trigger">Future climate impacts</span>
                                                      </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>



                            <li>
                                <a href="https://www.biodiversitydatascience.com/marineForestsWeb/citizen-science">Citizen science</a>
                            </li>

                        </ul>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-lg-5 text-right text-left-xs text-left-sm order-lg-3">
                    <div class="bar__module">
                      <!--  <a class="btn btn--sm type--uppercase" href="https://www.biodiversitydatascience.com/marineForestsWeb/data-catalogue">
                            <span class="btn__text">
                                Data catalogue
                            </span>
                        </a>-->
                        <a class="btn btn--sm btn--primary type--uppercase" href="https://www.biodiversitydatascience.com/marineForestsWeb/support">
                            <span class="btn__text">
                                Adopt a forest
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>
