
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <meta name="keywords" content="XXXXXX, XXXXXX, XXXXXX, XXXXXX">

    <!-- Styles -->
    <link href="{{ site.baseurl }}/assets/css/page.css?v=5.98" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <script src="{{ site.baseurl }}/assets/js/leaflet-providers.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/apple-touch-icon.png">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="smart">
        <div class="container">

          <div class="navbar-left">
            <button class="navbar-toggler" type="button">&#9776;</button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img width="70" src="{{ site.baseurl }}/assets/img/BearsLogoMini.svg" alt="logo">
            </a>
          </div>

          <section class="navbar-mobile">
            <span class="navbar-divider d-mobile-none"></span>

            <ul class="nav nav-navbar">
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/bears-land">Bears land</a>
              </li>

               <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/tags/hiking/">Hiks <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="../demo/bootstrap.html">Portugal</a>
                <a class="nav-link" href="../demo/dribbble.html">Spain</a>
                <a class="nav-link" href="../demo/dropbox.html">USA</a>
                <div class="nav-divider"></div>
                <a class="nav-link" href="../demo/github.html">Highlights</a>
              </nav>
            </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Stories</a>
              </li>

            </ul>
          </section>

          <a class="btn btn-xs btn-round btn-primary lato" href="{{ site.baseurl }}/instants">Instants</a>

        </div>
      </nav>
      <!-- /.navbar -->
