<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

		{% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

		{% if page.excerpt %}
		<meta name="description" content="{{ page.excerpt| strip_html }}" />
		<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
		{% else %}
		<meta name="description" content="{{ site.description }}">
		<meta property="og:description" content="{{ site.description }}" />
		{% endif %}

    <meta name="keywords" content="">

		<!-- Favicon -->
    <link href="{{ site.baseurl }}/assets/images/bears.png" rel="shortcut icon">

		<!-- CSS -->
		<link href="{{ site.baseurl }}/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/plugins/justified-gallery/justified-gallery.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/plugins/sal/sal.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

		<!-- Fonts/Icons -->
		<link href="{{ site.baseurl }}/assets/plugins/font-awesome/css/all.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/plugins/themify/themify-icons.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/assets/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
	</head>


	<body data-preloader="4">
		<div class="wrapper">

			<!-- Header // sticky -->

			<div class="header absolute-light box-shadow" style="background: #141619">
				<div class="container margin-top-10">

					<div class="logo">
						<h5><a href="#">biodiversityDS</a><span style="color: #A22A2A">.</span></h5>
					</div>

					<div class="header-menu-wrapper">
						<ul class="header-menu">
							<li class="m-item">
								<a class="m-link" href="{{ site.baseurl }}/about/">About</a>
							</li>
							<li class="m-item">
								<a class="m-link" href="#">Projects</a>
							</li>
							<li class="m-item">
								<a class="m-link" href="#">Publications</a>
							</li>
							<li class="m-item">
								<a class="m-link" href="#">Data Science Academy</a>
								<ul class="m-dropdown">
									<li class="m-dropdown-item"><a class="m-dropdown-link" href="#">R and Python code</a></li>
									<li class="m-dropdown-item"><a class="m-dropdown-link" href="#">Courses</a></li>
									<li class="m-dropdown-item"><a class="m-dropdown-link" href="#">Biodiversity data</a></li>
									<li class="m-dropdown-item"><a class="m-dropdown-link" href="#">Environmental data</a></li>
									<!--  <li class="m-dropdown-item"><a class="m-dropdown-link" href="#">Join the Academy</a></li> -->
								</ul>
							</li>
						</ul>

						<!-- Close Button -->
						<button class="close-button">
							<span></span>
						</button>
					</div>

					<!-- Menu Toggle on Mobile -->
					<button class="m-toggle">
						<span></span>
					</button>

				</div>
			</div>

			<!-- end Header -->
