---
layout: default
---

<div class="section">
	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1 ">

        <div class="margin-bottom-10">
          <p class="font-family-secondary font-small">
            Some Text
          </p>
        </div>

        <h3>About us</h3>

        <div class="margin-top-10">
          <p class="font-family-secondary font-small">Who we are...</p>
        </div>

			</div>
		</div>
	</div>
</div>


<div class="section" style="margin-top: -20px">
	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

					<div class="margin-bottom-20 margin-left-30 margin-right-30">
							<ul class="list-inline-dash font-family-secondary">
								<i class="fas fa-angle-double-right"></i> <li>Permanent members</li>
							</ul>
					</div>
        </div>
      </div>

          <div class="row col-spacing-10 col-lg-10 border-radius-05 bg-gray offset-lg-1 margin-bottom-30" style="padding-top: 10px">

              <div class="col-12 col-md-4">
                <img class="avatar-2xl" src="{{ site.baseurl }}/assets/images/jorgeassis.jpg" alt="">
                Jorge Assis<br>Group leader
              </div>
              <div class="col-12 col-md-4">
                <img class="avatar-2xl" src="{{ site.baseurl }}/assets/images/jorgeassis.jpg" alt="">
                Jorge Assis<br>Group leader
              </div>
              <div class="col-12 col-md-4">
                <img class="avatar-2xl" src="{{ site.baseurl }}/assets/images/jorgeassis.jpg" alt="">
                Jorge Assis<br>Group leader
              </div>
            </div>


        <div class="row">

          <div class="margin-bottom-20 margin-left-30 margin-right-30">
              <ul class="list-inline-dash font-family-secondary">
                <i class="fas fa-angle-double-right"></i> <li>External expert board</li>
              </ul>
          </div>


          <div class="margin-left-30 margin-right-30">
              <ul class="list-inline-dash font-family-secondary">
                <i class="fas fa-angle-double-right"></i> <li>External expert board</li>
              </ul>
          </div>

			</div>

  </div>
</div>

<div class="section">
	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

					<div class="margin-bottom-20 margin-left-30 margin-right-30">
							<ul class="list-inline-dash font-family-secondary">
								<i class="fas fa-angle-double-right"></i> <li>Our rationale</li>
							</ul>
					</div>

        <div class="margin-bottom-20 margin-left-30 margin-bottom-10">

        <p>Climate change, habitat degradation, overexploitation and biological invasions are threatening global biodiversity and ecosystem functioning through the loss of key species and altered energy flows. This can severely impact human’s health, wellbeing, and economic activities, and is leading to a growing sense that mankind has surpassed the thresholds of sustained life on Earth. This has been stressed by the Intergovernmental Science-Policy Platform on Biodiversity and Ecosystem Services (IPBES), which showed that the current efforts to halt the biodiversity crisis is falling far short of international needs.</p>
        <br>
        <p>In the context of global climate change, the Paris Agreement (UN Framework Convention on Climate Change) was outlined to provide a roadmap to limit global warming and accomplish the Sustainable Development Goals (UN 2030 Agenda for Sustainable Development). This was supported by policy-relevant research quantifying biodiversity impacts under contrasting scenarios of greenhouse gas emissions and mitigation strategies (Intergovernmental Panel on Climate Change).</p>
        <br>
        <p>Biodiversity impact assessments still held low confidence and high uncertainty owing to shortage of predictive infrastructures providing accurate models and forecasts that can effectively guide conservation strategies and prioritize actions to safeguard threatened species and ecosystems. Additionally, current conservation efforts still respond to short-term threats, raising the need to start focusing on evidence-based, long-term proactive actions preventing biodiversity crises in the first place.</p>

				</div>

			</div>
		</div>

  </div>
</div>



<div class="section">
	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

					<div class="margin-bottom-20 margin-left-30 margin-right-30">
							<ul class="list-inline-dash font-family-secondary">
								<i class="fas fa-angle-double-right"></i> <li>Main objectives</li>
							</ul>
					</div>

        <div class="margin-bottom-10">

        <p>Improve human’s health and wellbeing by providing knowledge to well-informed conservation and management biodiversity policies, in line with the Sustainable Development Goals 9, 13 and 14 of the UN 2030 Agenda for Sustainable Development. In particular, we focus on developing:</p>
        <p>(1) Biodiversity impact assessments (e.g., IPCC) under contrasting scenarios of global change (e.g., Paris Agreement expectations vs. reduce mitigation strategies);</p>
        <p>(2) Identification of priority conservation areas safeguarding biodiversity for future generations (e.g., Aichi targets);</p>
        <p>(3) Knowledge on the processes driving the global (re)distribution of biodiversity, from genes to ecosystems.</p>
        <p>(4) Machine learning and artificial intelligence tools to reduce uncertainty in biodiversity modeling.</p>
        <p>(5) Big data and cloud-based infrastructures to help citizens, researchers, managers and politicians visualize and understand biodiversity patterns and impacts.</p>

        <p>centralQuestion.</p>
        <p>Our central question is “what are the consequences of (past, ongoing and future) climate changes to global biodiversity and ecosystem functioning”</p>

				</div>

			</div>
		</div>

  </div>
</div>
