---
layout: default
credits: "Header photo by Clément M. on Unsplash"
---

<header class="header h-200" style="background: #fff">
       <div class="container text-center">
         <div class="row">

         </div>
       </div>
</header>

<main>

<section class="section">
  <div class="container">

      <div class="row">

           <div class="col-md-10 col-xl-8 mx-auto">

             <div class="mt-2">
             <span class="latothin h1">About us</span>
             </div>

             <div class="mt-4">
             <span class="fontsmall">You have got the change to work and thrive with us.<br>We are a small group of developers who wants to make a family! You have got the change to work and thrive with us. You have got the change to work and thrive with us.</span>
             </div>

           </div>

         </div>
       </div>
</section>


  <section class="section mt-10">
         <div data-provide="slider" data-autoplay="true" data-slides-to-show="2" data-css-ease="linear" data-speed="12000" data-autoplay-speed="0" data-pause-on-hover="false">
           <div class="p-2">
             <div class="rounded bg-img h-400" style="background-image: url(../assets/img/1.jpg)"></div>
           </div>

           <div class="p-2">
             <div class="rounded bg-img h-400" style="background-image: url(../assets/img/2.jpg)"></div>
           </div>

           <div class="p-2">
             <div class="rounded bg-img h-400" style="background-image: url(../assets/img/3.jpg)"></div>
           </div>

           <div class="p-2">
             <div class="rounded bg-img h-400" style="background-image: url(../assets/img/4.jpg)"></div>
           </div>
         </div>
  </section>



</main>
