---
layout: default
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Top message -->

<section class="container text-center">
<div>
    <div class="col-md-8">

        <h2 class="color--dark">
            Adopt a marine forest
        </h2>
        <p class="lead top-spacer-10">
            Citizens, organizations and companies are encouraging conservation, understanding and appreciation of local marine environments by adopting a marine forest.
        </p>

    </div>
</div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center hide-on-mobile" style="padding: 0px">

  <div class="row justify-content-center top-spacer-20">
      <div class="col-md-8">

        <p class="lead text-left">

        “Adoptive parents” are currently monitoring the conservation status of local marine forests, and organizing activities to raise awareness and appreciation of marine environments. <b>What to adopt a marine forest?</b> Send us an e-mail to marineforests@ualg.pt.

        </p>

      </div>
  </div>

<div class="row justify-content-center top-spacer-40">
  <div class="col-md-10">
    <h4>Adoptive parents raising awareness</h4>
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden; padding: 25px">
      <img alt="Image" src="https://www.biodiversitydatascience.com/marineForestsWeb/assets/img/adopt-1.jpg" style="margin-bottom: 30px" />
    </div>
  </div>
</div>

<div class="row justify-content-center top-spacer-20">
    <div class="col-md-8">

      <p class="lead top-spacer-10 text-left">
      Plastic Punch, in collaboration with the United Nations Development Programme (UNDP) and the European Union in Ghana marked the 2022 World Ocean Day with a beach clean-up exercise, calling on citizens to take action to save the oceans from plastic pollution for a sustainable future.
      </p>

    </div>
</div>


</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center top-spacer-100">

  <div class="row justify-content-center">
      <div class="col-md-10" ></div>
  </div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
