---
layout: default
---

<div class="section">
	<div class="container" style="margin-top: 20px">

		<div class="row">
			<div class="col-12 col-lg-9 offset-lg-1 ">

        <h3>Courses<span style="color: #A22A2A">.</span></h3>

        <div class="margin-top-10">
          <p class="font-family-secondary font-small">Biodiversity data science code to conduct analyses exploring the processes driving the distribution of biodiversity, to provide high quality biodiversity impact assessments and to identify priority conservation areas.</p>
        </div>

			</div>
		</div>
	</div>
</div>


<div class="section" style="margin-top: -25px">
	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

					<div class="margin-bottom-20 margin-left-30 margin-right-30">
						<div>
							<ul class="list-inline-dash font-family-secondary">
								<i class="fas fa-angle-double-right"></i> <li>Featured course</li>
							</ul>
						</div>
					</div>

        <div class="margin-bottom-40">

					<a href="{{site.baseurl}}{{ post.url }}">
					<div class="bg-image box-shadow border-radius-05" data-bg-src="{{ site.baseurl }}/assets/images/posts/altumcodeunsplash.jpg" style="height: 300px; background-position: center">
					</div>
					</a>

					<div class="content padding-30">
						<a href="{{site.baseurl}}{{ post.url }}"><h4>Marine species distribution modelling and global climate change</h4></a>
						<p class="margin-bottom-10" class="font-family-secondary font-small text-dark">Programming language: <i class="fab fa-r-project"></i></p>

						<p class="margin-bottom-30">The course 'Marine Ecological Modelling and Global Climate Change' was designed as an elective course within the Master programme Marine Biology at the University of Algarve.</p>

						<h5>Scope</h5>

						<p class="margin-bottom-30">The course covers the interactions and potential impacts of global climate changes (past, ongoing and future) on different levels of marine biodiversity. It is mostly hands­-on oriented, with a strong component on biodiversity and climate data acquisition, management and visualisation (e.g., the new Representative Concentration Pathway scenarios of climate change), as well as on ecological modelling using state of the art mechanistic and correlative approaches (e.g., machine learning algorithms).
						</p>

						<h5>Target audience</h5>

						<p>The course is targeted to PhD students (MSc students can also apply) in the fields of marine biology, ecology, conservation and evolution. Students must be fluent in English and have some basic knowledge on marine ecology, statistics and R computing language (although not mandatory). Students are highly encouraged to bring their own datasets (if data are not available, the professor will provide own data).
						</p>

						<h5>Topics</h5>

						<p>Exploring interactions and potential impacts of global climate changes (past, ongoing and future) on different levels of marine biodiversity.
						</p>

						<h5>Goals</h5>

				 <p>Get to know the foundations of ecological niche theory and marine macroecology;<br>
						Develop skills on marine biodiversity and climate data acquisition, management and visualisation;<br>
						Develop skills on mechanistic and correlative ecological niche modelling (ENM);<br>
						Understand the strengths of ENM and the concept of transferability across space and time;<br>
						Develop skills on good practice ENM following proper parametization and evaluation of predictive performances;<br>
						Develop skills on integrating physiological information into hybrid ENM to improve models' transferability;<br>
						Develop skills on niche evolution analyses to infer potential climate drivers of evolution and diversification;<br>
						Get to know how to discuss the results of ENM and the potential impacts of climate change on the distribution of marine biodiversity, and defend them to a wide audience.</p>

					</div>

				</div>

			</div>
		</div>

</div>
</div>
