<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<div id="loading">
  <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." />
</div>

{{ content }}

{% comment %}
{ site.baseurl }}
{{ site.avatar }}
{{ site.name }}
{{ site.description }}
{% endcomment %}

{% include analytics.html %}

{% include footer.html %}

<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/page.js?v=1"></script>
<script src="{{ site.baseurl }}/assets/js/script.js?v=1"></script>

<script>

jQuery(window).on("load", function () {
  $('#loading').hide();
});

</script>

</body>
</html>
