<!DOCTYPE html>
<html lang="en-US">

{% include header.html %}

{{ content }}

{% comment %}
{ site.baseurl }}
{{ site.avatar }}
{{ site.name }}
{{ site.description }}
{% endcomment %}

{% include analytics.html %}

{% include footer.html %}

<!-- Scripts -->

<!-- SCRIPTS -->
<script src="https://bears.land/js/jquery-1.12.3.min.js"></script>
<script src="https://bears.land/js/popper.min.js"></script>
<script src="https://bears.land/js/plugin.js"></script>
<script src="https://bears.land/js/main.js"></script>

</body>
</html>
