---
layout: default
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--  Hide loading loadingPanel -->

<script>
   window.addEventListener('load', function () {
    document.getElementById('loadingPanel').style.visibility="hidden";
   });
</script>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Top message -->

<section class="container text-center">
<div>
    <div class="col-md-8">

        <h2 class="color--dark">
            Future biodiversity impacts
        </h2>
        <p class="lead top-spacer-10">
            Global estimates of the impacts of climat change on the biodiversity of marine forests.
        </p>

    </div>
</div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center hide-on-mobile" style="padding: 0px">

  <div class="row justify-content-center top-spacer-20">
      <div class="col-md-8">

        <p class="lead text-left">

        Future climate change poses a major threat to global marine biodiversity. For marine forests that structure essential habitats for coastal species worldwide, climate change effects can be magnified into losses of ecosystem functioning, with direct consequences for the numerous ecological and economical services provided. We forecasted biodiversity changes of large brown algae and seagrasses under contrasting scenarios of climate change (decade 2090-2100): one of lower emissions aligned with the Paris Agreement and another of substantially higher emissions.

        <br><br>

        <b>The projected patterns pinpoint future regions of persistence, which serve as baselines for well-informed management strategies in the face of climate change.</b>

        </p>

      </div>
  </div>

<div class="row justify-content-center top-spacer-40">
  <div class="col-md-10">
    <h4>Future biodiversity changes of kelp forests</h4>
    <h4>Lower emission scenario</h4>
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden; padding: 25px">
      <img alt="Image" src="https://www.marineforests.com/assets/img/diversity-change-kelp-ssp119.png" style="margin-bottom: 30px" />
    </div>
  </div>
</div>

<div class="row justify-content-center top-spacer-50">
  <div class="col-md-10">
    <h4>Higher emission scenario</h4>
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden; padding: 25px">
      <img alt="Image" src="https://www.marineforests.com/assets/img/diversity-change-kelp-ssp585.png" style="margin-bottom: 30px" />
    </div>
  </div>
</div>


<div class="row justify-content-center top-spacer-40">
  <div class="col-md-10">
    <h4>Future biodiversity changes of seagrass forests</h4>
    <h4>Lower emission scenario</h4>
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden; padding: 25px">
      <img alt="Image" src="https://www.marineforests.com/assets/img/diversity-change-seagrass-ssp119.png" style="margin-bottom: 30px" />
    </div>
  </div>
</div>

<div class="row justify-content-center top-spacer-50">
  <div class="col-md-10">
    <h4>Higher emission scenario</h4>
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden; padding: 25px">
      <img alt="Image" src="https://www.marineforests.com/assets/img/diversity-change-seagrass-ssp585.png" style="margin-bottom: 30px" />
    </div>
  </div>
</div>

<div class="row justify-content-center top-spacer-100">
    <div class="col-md-8">

      <p class="lead top-spacer-10 text-left">
      Forecasts anticipate significant changes in the global patterns of biodiversity, particularly pronounced with the higher emission scenario. Maximum community composition changes (i.e., turnover) were projected in the Arctic and Northern Pacific Ocean due to poleward range expansions, and in the temperate regions of the North Atlantic Ocean and Northwest Pacific, the Mediterranean Sea and along Australian and New Zealand coastlines, due to range loses as habitats become unsuitable.

      <br><br>

      <b>Climate change can strongly restructure the global patterns of marine forests' biodiversity, with drastic knock-on effects on the productivity and functioning of temperate coastal environments, particularly if climate forcing surpasses the Paris Agreement expectations.</b>

      </p>

    </div>
</div>

<div class="row justify-content-center top-spacer-100">
    <div class="col-md-8 boxed boxed--border  bg--secondary boxed--lg box-shadow">

      <p class="lead">

        The data used to map changes are <a href="https://www.marineforests.com/distribution">available for you to visualize and download</a>.

      </p>

    </div>
</div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center top-spacer-100">

  <div class="row justify-content-center">
      <div class="col-md-10" ></div>
  </div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
