---
layout: default
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--  Hide loading loadingPanel -->

<script>
   window.addEventListener('load', function () {
    document.getElementById('loadingPanel').style.visibility="hidden";
   });
</script>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Top message -->

<section class="container text-center">
<div>
    <div class="col-md-8">

        <h2 class="color--dark">
            Diversity of Marine Forests
        </h2>
        <p class="lead top-spacer-10">
            Global patterns of genetic diversity of macroalgae forests.
        </p>

    </div>
</div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center hide-on-mobile" style="padding: 0px">

  <div class="row justify-content-center top-spacer-20">
      <div class="col-md-8">

        <p class="lead text-left">

        Intra-specific genetic diversity reflects species’ evolutionary capacity to evolve and adapt to new conditions, and therefore its conservation is key for their resilience to ongoing and future climate change. We predicted genetic diversity hotspots for >400 marine forest of large brown algae.

        <br><br>

        <b>The mapped biodiversity patterns can serve as baselines to guide conservation planners in allocating resources to maximize the benefits of ocean management</b>.

        </p>

      </div>
  </div>

<div class="row justify-content-center top-spacer-100">
  <div class="col-md-10">
    <h4>Allelic richness hotspots of large brown algae</h4>
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden; padding: 25px">
      <img alt="Image" src="https://www.marineforests.com/assets/img/genetic-diversity-marine-forests-ar.png" style="margin-bottom: 30px" />
    </div>
  </div>
</div>

<div class="row justify-content-center top-spacer-100">
  <div class="col-md-10">
    <h4>Expected heterozigocity hotspots of large brown algae</h4>
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden; padding: 25px">
      <img alt="Image" src="https://www.marineforests.com/assets/img/genetic-diversity-marine-forests-he.png" style="margin-bottom: 30px" />
    </div>
  </div>
</div>

<div class="row justify-content-center top-spacer-20">
    <div class="col-md-8">

      <p class="lead top-spacer-10 text-left">

      Regions of higher genetic diversity for multiple species are along the coasts of Northeastern Pacific, Northeastern Atlantic and Southern Australia.

      <br><br>

      The patterns of genetic diversity match <a href="https://www.marineforests.com/species-richness-marine-forests">global patterns of species richness</a>, stressing the role of climate stability as a common driver shaping marine forest biodiversity from genes to ecosystems.

      </p>

    </div>
</div>

<div class="row justify-content-center top-spacer-75">
    <div class="col-md-8 boxed boxed--border  bg--secondary boxed--lg box-shadow">

      <p class="lead">

        <!-- - - -The genetic data used to map biodiverstiy are <a href="https://www.marineforests.com/distribution">available for you to download</a>.- -->
        The information provided is available for download at the species level to assist conservation and managment strategies.

      </p>

    </div>
</div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center top-spacer-100">

  <div class="row justify-content-center">
      <div class="col-md-10" ></div>
  </div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
