---
layout: default
---


<!-- Header -->
<header class="header p-0">
  <div class="h-300" id="map" style="background: #fff"></div>
</header><!-- /.header -->

<script>

  // initialize the map
  var map = L.map('map').setView([{{page.coordinateLat}}, {{page.coordinateLon}}], 3);

  // load a tile layer
  L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: '',
    }).addTo(map);

    var marker = L.marker([ {{page.coordinateLat}} , {{page.coordinateLon}} ]).addTo(map).bindPopup("<b>{{page.siteName}}</b><br />{{page.siteCity}}");

    var defaultLayer = L.tileLayer.provider('OpenStreetMap.BlackAndWhite').addTo(map);

    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();

    map.zoomControl.setPosition('bottomright');

    map.getPane('tilePane').style.opacity = 0.4;


  </script>





    <!-- Main Content -->
    <main class="main-content">

      <div class="section">
        <div class="container">

          <div class="text-center mt-6">
            <h2>{{ page.title }}<h2>
          </div>

          {% if page.mainImage %}

          <div class="row">
            <div class="col-lg-8 mx-auto my-0">

              <hr class="w-100px">
              <img class="rounded-md" src="{{ site.baseurl }}/images/{{ page.mainImage }}" alt="{{ page.title }}">

            </div>
          </div>

          {% endif %}

          <div class="row">
            <div class="col-lg-8 mx-auto">

              <p class="lead">{{ content }}</p>

              <hr class="w-100px">
  {{ file.modified_time }}
            </div>
          </div>



        </div>
      </div>


</main>
