---
layout: default
---


<!-- Header -->
<header class="header p-0">
  <div class="h-500" data-provide="map" data-lat="44.540" data-lng="-78.556" data-marker-lat="44.540" data-marker-lng="-78.556" data-info="&lt;strong&gt;Our office&lt;/strong&gt;&lt;br&gt;3652 Seventh Avenue, Los Angeles, CA" data-style="light" data-remove-controls="true"></div>
</header><!-- /.header -->





<article class="post">
  <h1>{{ page.title }}</h1>

  {% if page.mainImage %}
  <img class="some_class" src="{{ site.baseurl }}/images/{{ page.mainImage }}" alt="{{ page.title }}">
  {% endif %}


  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ post.date }}

  {{ file.modified_time }}

  </div>

  {% include disqus.html %}
</article>
