---
layout: default
---

Layout: post

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if post.image %} <img class="some_class" src="{{ site.baseurl }}/images/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
  {% if post.secondImage %} <img class="some_class" src="{{ site.baseurl }}/images/{{ post.secondImage }}" alt="{{ post.title }}"> {% endif %}




  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ post.date }}

  {{ file.modified_time }}

  </div>

  {% include disqus.html %}
  
  
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'bears-land'; // required: replace example with your forum shortname
      // var disqus_developer = 1; // Comment out when the site is live

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  
</article>
