---
layout: default
---

<div class="section">
	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1 ">

        <div class="margin-bottom-10">
          <p class="font-family-secondary font-small">
            {% if page.type == "journal" %}Scientific publication{% endif %}
            {% if page.type == "project" %}Scientific project{% endif %}
            {% if page.type == "code" %}Open code{% endif %}
            {% if page.type == "data" %}Open data{% endif %}
          </p>
        </div>

        <h3>{{ page.title }}</h3>

        <div class="margin-top-10">
          <p class="font-family-secondary font-small">{{ page.description }}</p>
        </div>

			</div>
		</div>
	</div>
</div>


<div class="section" style="margin-top: -15px">
	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

				<div class="margin-bottom-20">

          <div class="bg-image box-shadow border-radius-05" data-bg-src="{{ site.baseurl }}/assets/images/posts/{{ page.mainImage }}" style="height: 425px; background-position: center">
          </div>

          <div class="margin-top-20 maintext margin-left-30 margin-right-30">

          {% if page.mainImageCredits %}<p class="font-family-secondary font-small">{{ page.mainImageCredits }}</p>{% endif %}

          {{ content }}

          </div>
        </div>

        <div class="margin-bottom-20 margin-left-30 margin-right-30">

              <ul class="list-inline-dash font-family-secondary font-small">
                <i class="fas fa-angle-double-right"></i> Share
                {% if page.type == "journal" %} publication{% endif %}
                {% if page.type == "project" %} project{% endif %}
                {% if page.type == "code" %} code{% endif %}
                {% if page.type == "data" %} data{% endif %} on <a href="https://twitter.com/share?url={{ page.url }}&text={{ page.title }}&via=bears.land&hashtags={{ page.tags | first }}">Twitter</a>
                 or <a href="https://www.facebook.com/sharer.php?s=100&p[url]={{ page.url }}">Facebook</a>
              </ul>


              {% if page.citation %}
              <div style="margin-top: 100px;">
              <h3>Main reference</h3>
              <p>{{ page.citation }}</p>
              </div>
              {% endif %}


              {% if page.link %}
              <ul class="list-inline-dash font-family-secondary font-small margin-top-20 text-dark">
                <i class="fas fa-angle-double-right"></i><a href="{{ page.link }} target="_blank""> Access full
                {% if page.type == "journal" %} publication{% endif %}
                {% if page.type == "project" %} project{% endif %}
                {% if page.type == "code" %} code{% endif %}
                {% if page.type == "data" %} data{% endif %}</a>
              </ul>
              {% endif %}

          </div>

        </div>
    </div>


		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

					<div class="margin-left-30 margin-right-30" style="margin-top: 85px;">
						<div>
							<ul class="list-inline-dash font-family-secondary">
								<i class="fas fa-angle-double-right"></i> <li>Additional
                  {% if page.type == "journal" %} publications{% endif %}
                  {% if page.type == "project" %} projects{% endif %}
                  {% if page.type == "code" %} code{% endif %}
                  {% if page.type == "data" %} data{% endif %}</li>
							</ul>
						</div>
					</div>

        </div>
    </div>

    <div class="row col-lg-10 border-radius-05 bg-gray offset-lg-1 margin-top-20 margin-bottom-30" style="padding-top: 10px">

        {% for post in site.posts limit: 3 %}
        {% if post.type == page.type and post.title != page.title %}

        <div {% if forloop.first == false %} class="margin-bottom-10" {% endif %}>

					<div class="content padding-20">
						<a href="{{site.baseurl}}{{ post.url }}"><h5 class="font-weight-normal">{{ post.title }}</h5></a>
						<p class="text-dark">{{ post.description }}</p>
					</div>

				</div>

        {% endif %}
        {% endfor %}

      </div>

  </div>
</div>
