---
layout: default
---

Layout: post

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if post.image %} <img class="some_class" src="{{ site.baseurl }}/images/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
  {% if post.secondImage %} <img class="some_class" src="{{ site.baseurl }}/images/{{ post.secondImage }}" alt="{{ post.title }}"> {% endif %}


POOST IMAGE

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ post.date }}

  {{ file.modified_time }}

  </div>

  {% include disqus.html %}



</article>
