---
layout: default
---

<div class="section">
	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1 ">

        <div class="margin-bottom-10">
          <p class="font-family-secondary font-small">
            Some Text
          </p>
        </div>

        <h3>Scientific publications</h3>

        <div class="margin-top-10">
          <p class="font-family-secondary font-small">Some text flowing</p>
        </div>

			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1">

					<div class="margin-bottom-20 margin-left-30 margin-right-30">
							<ul class="list-inline-dash font-family-secondary">
								<i class="fas fa-angle-double-right"></i> <li>the team</li>
							</ul>
					</div>

        <div class="margin-bottom-10">

					<div class="content padding-30">
						<h4 class="font-weight-normal">Permanent members</h4>
            <p>{{ post.description }}</p>
					</div>

          Images


				</div>

			</div>
		</div>

  </div>
</div>
