---
layout: default
---

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--  Hide loading loadingPanel -->

<script>
   window.addEventListener('load', function () {
    document.getElementById('loadingPanel').style.visibility="hidden";
   });
</script>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- Top message -->

<section class="container text-center">
<div>
    <div class="col-md-8">

        <h2 class="color--dark">
            LIFE-RESTORESEAGRASS
        </h2>
        <p class="lead top-spacer-10">
          Large-scale conservation and restoration of critically threatened seagrass habitat on Atlantic infralittoral sand and coastal lagoons.
        </p>

    </div>
</div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center" style="padding: 0px">

<div class="row justify-content-center top-spacer-20">
  <div class="col-md-10">
    <div class="border--round box-shadow-wide"  style="height: 450px; overflow: hidden;">
      <img alt="Image" src="https://www.marineforests.com/assets/img/Picture1.jpg" style="margin-bottom: 30px" />
    </div>
  </div>
</div>

<div class="row justify-content-center top-spacer-40">
    <div class="col-md-8">

      <p class="lead top-spacer-10 text-left">

        <b>RESTORESEAGRASS</b> aims to remove threats from existing seagrasses, such as mechanical damage and invasive species, promote citizen awareness and leadership in conservation, recover damaged seagrass areas, promote seagrass conservation and restoration in salt pans.

        The benefits for biodiversity and climate change mitigation will be quantified and demonstrated to the public.

        <br><br>

        The project will implement solutions to the problematic loss of two priority habitats:<br><br>
        <b>(1)</b> Non-Macaronesian seagrass beds on Atlantic infralittoral sand (A5.53), a ‘Critically Endangered’ habitat by the European Red List of Habitats;<br>
        <b>(2)</b> Brackish or saline coastal lagoons, a priority habitat under Habitat Directive Annex II.

      </p>

    </div>
</div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center top-spacer-100">
<div>
    <div class="col-md-8">

        <h2 class="color--dark">
            Focal sites
        </h2>

    </div>
</div>

</section>

<section class="unpad top-spacer-10">

      <style>
          .leaflet-popup-content-wrapper {
              padding: 1px;
              text-align: left;
              border-radius: 8px;
          }
          .leaflet-popup-content {
                 margin: 0;
                 padding: 2px;
             }
      </style>

      <div id='map' class='custom-popup hide-on-mobile' style="height: 350px;"></div>

                                  <script>

                                	const main4 = async () => {

                                      var map = L.map( 'map', {
                                        center: [38, -8],
                                        minZoom: 6,
                                        zoom: 6
                                      });

                                      L.tileLayer( 'https://tile.gbif.org/3857/omt/{z}/{x}/{y}@2x.png?style=gbif-light', {
                                        attribution: '&copy; <a href="https://www.openmaptiles.org/copyright">OpenMapTiles</a>',
                                        subdomains: ['a', 'b', 'c']
                                      }).addTo( map );

                                      var tMarker = {
                                        radius:6,
                                        fillColor: '#9EBBFF',
                                        color:'#113EA6',
                                        weight:1,
                                        opacity: 1,
                                        fillOpacity:1
                                    };

                                      var marker = L.circleMarker([38.433, -9.03]).addTo(map);
                                      var popup = marker.bindPopup('<b>Arrábida</b>');

                                      var marker = L.circleMarker([36.99, -7.84]).addTo(map);
                                      var popup = marker.bindPopup('<b>Ria Formosa</b>');

                                      var marker = L.circleMarker([37.12, -8.61]).addTo(map);
                                      var popup = marker.bindPopup('<b>Ria de Alvor</b>');

                                      map.scrollWheelZoom.disable();

                                      //  -----------------------------------------------------
                                      //  Hide loading loadingPanel
                                          document.getElementById('loadingPanel').style.visibility="hidden";
                                      //  -----------------------------------------------------

                                  };

                                  main4();

                              </script>

</section>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center" style="padding: 0px">


<div class="row justify-content-center top-spacer-100">
    <div class="col-md-8">

      <h2 class="color--dark">
          The problems and threats
      </h2>

      <p class="lead top-spacer-20 text-left">
        Seagrass beds are highly biodiverse marine ecosystems that sustain local fisheries, provide coastal protection, increase water and sediment quality, and function as important Blue Carbon stocks.

        Southwestern Europe contains the most diverse seagrass populations of Atlantic mainland Europe, with severalred-list classified species (Zostera marina, Cymodocea nodosa, several Ruppia spp., Zostera noltei) co-occurring together in the sublittoral zone. Despite their importance, they are under high threat.

        <br><br>

        The problems is:<br>
        <b>(1)</b> The large losses of infralittoral seagrass that have occurred on the Atlantic coasts of southwestern continental Europe (mainland Portugal).

        <br><br>

        The threats are:<br>
        <b>(1)</b> Mechanical removal: human actions that removed seagrasses mechanically, such as boat anchors, boat moorings, channel dredging, fishing with toothed dredges (Cunha et al. 2013, Carapeto et al. 2020);<br>
        <b>(2)</b> Competing invasive species preventing recovery: Following mechanical removal, invasive seaweeds occupy the disturbed empty habitat faster than seagrass and are thus a threat to natural recovery;<br>
        <b>(3)</b> Information gaps: activities that mechanically remove seagrasses areinsufficiently spatially managed due to lack of information available to the stakeholders, both direct users (boat users, fishers) and managers.

      </p>

    </div>
</div>

<div class="row justify-content-center top-spacer-100">
    <div class="col-md-8">

      <h2 class="color--dark">
          Solutions and objectives
      </h2>

      <p class="lead top-spacer-20 text-left">

      The problems identified require these solutions (project objectives):

      <br><br>

      <b>1)</b> Conservation of ancient existing seagrass meadows under risk of lost: stopping actions that mechanically remove seagrasses via action with managers and site users by:

      <br><br>

      <b>1.1)</b> information, education, sensibilization and local vigilance by local stakeholders that are direct users of the sites, by implementing a program ADOPT-a-seagrass, and a range of diverse education and dissemination actions;<br>
      <b>1.2)</b> collecting information for managers (which are partners in this project) with geographical information of locations of the seagrasses and predictions of their future natural growth considering environmental / climate variables, including sea-level rise;<br>
      <b>1.3)</b> controlling invasive species in a hotspot of subtidal Atlantic seagrass cover and diversity of SW Iberia, to a level where they do not prevent natural seagrass recovery and persistence, once seagrasses are re-established.

      <br><br>

      <b>2)</b> Restoration of seagrass:

      <br><br>

      <b>(1)</b> the project will replant seagrass in suitable habitats, where threats have been removed but natural dispersal and establishment has not happened to allow initial recovery and stable persistence to continue by natural growth. We
      have demonstrated that seagrass restoration in the regions here targeted requires large spatial scale of transplanting to reach a minimum critical seagrass bed size that becomes resistant to storms (Paulo et al. 2019);

      <br><br>

      The conservation of salt pans is essential for seagrass habitat conservation for threatened and critically endangered species, and this project will implement a seagrass restoration demonstration park that will remain in the long-
      term a main promoter of all the ecosystem and societal benefits of seagrass conservation in saltpans and the demonstration, training and education opportunities that it creates.


      </p>

    </div>
</div>






<div class="row justify-content-center top-spacer-100">
    <div class="col-md-8">

      <h2 class="color--dark">
          Team
      </h2>

    </div>
</div>

<div class="row justify-content-center top-spacer-10">
    <div class="col-md-8 boxed boxed--border  bg--secondary boxed--lg box-shadow">

      <p class="lead text-left">

  CCMAR – Centro de Ciências do Mar do Algarve<br>
  ISPA - Instituto Universitário de Ciências Psicológicas, Sociais e da Vida, CRL<br>
  ICNF – Instituto da Conservação da Natureza e Florestas<br>
  CSIC - Consejo Superior de Investigaciones Cientificas, Spain<br>
  SPEA – Sociedade Portuguesa para o Estudo das Aves<br>
  OCEAN ALIVE – Cooperativa para a Educação Criativa Marinha, CRL<br>
  PVL - Piscicultura do Vale da Lama, Lda<br>
  NECTON - Companhia Portuguesa de Culturas Marinhas, SA

      </p>

    </div>
</div>


<div class="row justify-content-center top-spacer-100">
    <div class="col-md-8">

      <h2 class="color--dark">
          Funding
      </h2>

    </div>
</div>


<div class="row justify-content-center top-spacer-10">
    <div class="col-md-8 boxed boxed--border  bg--secondary boxed--lg box-shadow">

      <p class="lead text-left">

  EU LIFE program<br>
  SECIL - Companhia geral de cal e cimento, SA<br>
  ANA - Aeroportos de Portugal

      </p>

    </div>
</div>


</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<section class="container text-center top-spacer-100">

  <div class="row justify-content-center">
      <div class="col-md-10" ></div>
  </div>

</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
