---
layout: default
---

{% if page.coordinateLon %}

<header class="header p-0">
  <div class="h-300" id="map" style="background: #fff"></div>
</header>

<script>

  var map = L.map('map').setView([{{page.coordinateLat}}, {{page.coordinateLon}}], 3);
  L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: '',
    }).addTo(map);
    var myIcon = L.icon({
          iconUrl: '{{ site.baseurl }}/assets/img/ico.svg',
          iconSize: [10, 10], // size of the icon
          });
    var marker = L.marker([ {{page.coordinateLat}} , {{page.coordinateLon}} ], {icon: myIcon}).addTo(map);
    var defaultLayer = L.tileLayer.provider('OpenStreetMap.BlackAndWhite').addTo(map);

    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.zoomControl.setPosition('bottomright');
    map.getPane('tilePane').style.opacity = 0.4;

  </script>

{% endif %}

<article class="page">

  <h1>Tag: {{ page.tag | capitalize }}</h1>

  <div class="entry">
    <ul>
        {% for post in site.tags[page.tag] %}
        <li>
            {{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
  </div>
</article>
